@import "../colors";
@import "../variables";

.component {
  color: $dove-gray;
  display: table;
  font-family: $fancy-font;
  font-size: 22px;
  white-space: nowrap;
  &:before, &:after {
    border-top: 1px solid $silver-chalice;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before { right: 1.5%; }
  &:after { left: 1.5%; }
}
