// PALLETE
$beach-storm: #e0e4cc;
$blaze-orange: #fa6900;
$turquoise-blue: #69d2e7;

// GENERAL COLORS
$cinnabar: #ec4545;
$dove-gray: #696969;
$hurricane: #948d8d;
$moon-raker: #c7cef5;
$shark: #202124;
$silver-chalice: #a7a7a7;
$silver-sand: #bbbcbd;
$white: #ffffff;
$wild-blue-yonder: #8282b3;
