@import "./reset";
@import "./colors";

html {
  background-color: $beach-storm;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
